/* Import font Inter dari Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');

/* Arahan dasar Tailwind CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Aturan CSS global tambahan */
@layer base {
  html {
    @apply scroll-smooth;
  }
  body {
    @apply bg-white text-gray-800 antialiased;
  }
}

/* Tambahan untuk testimoni bergulir */
@layer utilities {
  @keyframes scroll-x {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }
  .animate-scroll-x {
    /* Durasi 40s. Anda bisa sesuaikan (misal: 20s untuk lebih cepat) */
    animation: scroll-x 40s linear infinite;
  }
  .pause-animation:hover {
    animation-play-state: paused;
  }
}

